div {
  vertical-align: top;
  width: "100vw";
}
#banner {
  background-color: azure;
  padding: 20px;
  height: 70px;
}
#examples {
  background-image: url(images/index.jpg);
  background-size: cover;
  color: "white";
  background-repeat: repeat-y;
}

.example_text {
  color: peachpuff;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 600;
}
a:visited {
  color: royalblue;
  background-color: transparent;
  text-decoration: none;
}
