div {
  vertical-align: top;
  width: "100vw";
}
#banner {
  background-color: azure;
  padding: 20px;
  width: 100%;
  height: 70px;
}
#examples {
  background-image: url(images/landing.jpg);
  background-size: cover;
  color: "white";
}

.example_text {
  background-color: peachpuff;
  padding-top: 20px;
}
